.app-header {
  display: flex;
  justify-content: center;
  background-color: black;

  button {
    margin: 0 16px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    background-color: black;
    color: white;
    max-width: 1200px;
  }

  .mat-mdc-outlined-button:not(:disabled) {
    border-color: white;
  }
}

